
.container {
    width: 70vmin;
    height: 95vmin;
    border-radius: 0.8em;
    background-image: linear-gradient(to right bottom, #bdd8ff, #9ecadb, #95b6b5, #93a199, #8b8c89);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding-top: 2em;
}

.top-bar input {
    display: flex;
    width: 50vmin;
    height: 10vmin;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 3em;
    padding-left: 1.7em;
    color: #626262;
    font-size: 1.3em;
    font-weight: 500;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vmin;
    height: 10vmin;
    background: #ebfffc;
    border-radius: 4em;
    cursor: pointer;
}

.weather-image {
    
    height: 25vmin;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4em;
    font-weight: 500;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    font-weight: 400;
}

.data-container {
    margin-top: 2em; 
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 1em;
    margin-bottom: 1.5em;
}

.data {
    font-size: 2em;
    font-weight: 400;
}

.text {
    font-size: 0.5em;
    font-weight: 400;
}

.icon {
    margin-top: 10px;
    height: 5vmin;
}